<h1>SignUp or Register</h1>


<form action="<%= url_for :controller => 'clients', :action => 'create' %>" method="get">

  Your Token: <input name="token" type="text" value="<%= @token %>">  <input type="submit" value="Submit">
  <br>
  (leave blank to create one)


</form>