<h1><%= @asset.name %></h1>

<form name="fileEditForm"
      action="<%= url_for :controller => 'files', :action => 'save', :id => params[:id].to_i %>"
      method="get">

  <textarea name="textarea" rows="50" cols="50"><%= @asset.content %></textarea>

  <input type="submit" value="Save">

</form>





