<h1>JSON Asset Index</h1>

<div class="assetLinks">
	
<% @assets.each_with_index do |asset| %>
    <a href="<%= url_for :action => 'edit', :id => asset.id %>"> <%= asset.name %></a>
<% end %>

</div>
